<div  id="kbs-home-component">
<div class="col-md-6">
    <div class="media">
        <div class="media-body">
            <a href="#" class="pull-left"><img alt="KBS Logo" src="/images/Datacenter.png" class="media-object" /></a>
            KBS Is Transtron (Thailand) <b>K</b>nowledge <b>B</b>ase <b>S</b>ystem for centralize data of Testing, Manual <br>OR Data for Internal usage. All data in this Internal website is Confidential.
            <blockquote>
                TRANSTRON (THAILAND) CO.,LTD.
            </blockquote>
        </div>
    </div>
</div>
<%- include loginform.ejs%>
</div>