<div  id="kbs-home-component" style="display: none;">
<div class="col-md-9">
    <div class="media">
        <div class="media-body">
		<br>
            <a href="#" class="pull-left"><img alt="KBS Logo" src="/images/Datacenter.png" class="media-object" /></a>
            &nbsp KBS Is Transtron (Thailand) <b>K</b>nowledge <b>B</b>ase <b>S</b>ystem for centralize data <br>
			&nbsp of Testing, Manual OR Data for Internal usage. <br>
			&nbsp All data in this Internal website is Confidential. <br><br> <br>  
            
            <b>&nbsp TRANSTRON (THAILAND) CO.,LTD.</b>
            
        </div>
    </div>
</div>
<br>
<%- include loginform.ejs%>
</div>