<div class="col-md-6" id="login-component">
    <form role="form" id="login-form">
        <div class="form-group">

                <label for="inputUsername">
                        Username
                </label>
                <input type="text" class="form-control" name="username" id="inputUsername">
        </div>
        <div class="form-group">

                <label for="inputPassword">
                        Password
                </label>
                <input type="password" class="form-control" name="password" id="inputPassword">
        </div>

        <button type="button" class="btn btn-default" id="login-button">
                Log in
        </button>
    </form>
</div>