<table class="table" id="vstg-varinfo-table" style="display: none;">
    <tbody>
        <tr>
            <td >
                Variable Name
            </td>
            <td colspan="5">
                <input type="text" class="form-control" id="vstg-varinfo-table-varname" readonly>
            </td>
        </tr>
        <tr class="tr-varinfo-detail">
            <td>
                Min Value
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varinfo-table-minval" readonly>
            </td>
            <td>
                Max Value
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varinfo-table-maxval" readonly>
            </td>
            
            <td>
                E-Level
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varinfo-table-elevel" readonly>
            </td>
        </tr>
        <tr class="tr-varinfo-detail">
            <td>
                Soft Version
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varinfo-table-softver" readonly>
            </td>
            <td>
                DD Version
            </td>
            <td colspan="3">
                <input type="text" class="form-control" id="vstg-varinfo-table-ddver" readonly>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" id="vstg-varinfo-casetable" style="display: none;">
    <thead>
        <tr class="success">
            <td>
                No.    
            </td>
            <td colspan="4">
                Description
            </td>
            <td>
                Soft Version
            </td>
            <td>
                Setup File
            </td>
            <td>
                Detailed
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<table class="table" id="vstg-varinfo-vartable" style="display: none;">
    <thead>
        <tr>
            <td >
                Value Name
            </td>
            <td >
                Before
            </td>
            <td >
                After
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
