<div id="vstg-varedit2-table"  style="display: none;">
    <table class="table">
        <tbody>
            <tr>
                <td >
                    Variable Name
                </td>
                <td colspan="4">
                    <input type="text" class="form-control" id="vstg-varedit2-table-varname" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    Value Setup File
                </td>
                <td colspan="4">
                    <input type="file" id="vstg-varedit2-import-file">
                    <input type="hidden" id="vstg-varedit2-import-fileName" name="setupFileName">
                </td>
            </tr>        
        </tbody>

    </table>
    <table class="table" id="vstg-varedit2-table-value">
        <thead>
            <tr>
                <td >
                    Value Name
                </td>
                <td >
                    Before
                </td>
                <td >
                    After
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
        
    </table>
</div>