<div id="vstg-main-component">
<table id="vstg-main-table" class="cell-border" cellspacing="0" width="100%">
   <thead>
      <tr>
         <th>Name</th>
         <th>Revision</th>
         <th>No of cases</th>
         <th>Last Modification</th>
      </tr>
   </thead>
</table>
</div>

