<table class="table" id="vstg-approve-vartable" style="display: none;">
    <thead>
        <tr class="success">
            <td>
                No.    
            </td>
            <td>
                Variable Name
            </td>
            <td>
                Case description
            </td>
            <td>
                Setup File
            </td>
            <td>
                Detailed
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
