<div id="vstg-varadd2-table"  style="display: none;">
    <table class="table">
        <tbody>
            <tr>
                <td >
                    Variable Name
                </td>
                <td colspan="4">
                    <input type="text" class="form-control" id="vstg-varadd2-table-varname" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    Value Setup File
                </td>
                <td colspan="4">
                    <input type="file" id="vstg-varadd2-import-file">
                </td>
            </tr>        
        </tbody>

    </table>
    <table class="table" id="vstg-varadd2-table-value">
        <thead>
            <tr>
                <td >
                    Value Name
                </td>
                <td>
                    is Key?
                </td>
                <td >
                    Before/Begin
                </td>
                <td >
                    After/End
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
        
    </table>
</div>