<div id="vstg-varapprove-component"  style="display: none;">
<div class="row" >
<table class="table" id="vstg-varapprove-table">
    <tbody>
        <tr>
            <td >
                Variable Name
            </td>
            <td colspan="5">
                <input type="text" class="form-control" id="vstg-varapprove-table-varname" readonly>
            </td>
        </tr>
        <tr>
            <td>
                Min Value
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varapprove-table-minval" readonly>
            </td>
            <td>
                Max Value
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varapprove-table-maxval" readonly>
            </td>
            
            <td>
                E-Level
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varapprove-table-elevel" readonly>
            </td>
        </tr>
        <tr>
            <td>
                Soft Version
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-varapprove-table-softver" readonly>
            </td>
            <td>
                DD Version
            </td>
            <td colspan="3">
                <input type="text" class="form-control" id="vstg-varapprove-table-ddver" readonly>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <dl>
                    <dt>
                        Case Description
                    </dt>
                    <textarea class="form-control" rows="5" id="vstg-varapprove-table-comment" name="description" readonly></textarea>
                </dl>
            </td>
        </tr>
    </tbody>
    
</table>
</div>
<div class="row">
    <a href="#" id="vstg-varapprove-csv-button">
        <button type="button" class="btn btn-default" > Export CSV </button>
    </a>
</div>
<div class="row">
<table class="table" id="vstg-varapprove-vartable">
    <thead>
        <tr>
            <td >
                Value Name
            </td>
            <td >
                Before
            </td>
            <td >
                After
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>
