<div id="vstg-varedit2-table"  style="display: none;">
    <table class="table">
        <tbody>
            <tr>
                <td >
                    Variable Name
                </td>
                <td colspan="4">
                    <input type="text" class="form-control" id="vstg-varedit2-table-varname" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    Flag
                </td>
                <td>
                    <li class="list-group-item">
                        &nbsp&nbsp This variable can be adjusted by ECM Monitor
                        <div class="material-switch pull-left">
                            <input id="vstg-varedit2-ecm-var" name="ecmVar" type="checkbox"/>
                            <label for="vstg-varedit2-ecm-var" class="label-primary"></label>
                        </div>
                    </li>
                </td>
            </tr> 
            <tr>
                <td>
                    Value Setup File
                </td>
                <td colspan="4">
                    <input type="file" id="vstg-varedit2-import-file">
                    <input type="hidden" id="vstg-varedit2-import-fileName" name="setupFileName">
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <textarea class="form-control" rows="5" id="vstg-varedit2-table-comment" name="description" required></textarea>
                </td>
            </tr> 
            
        </tbody>

    </table>
    <table class="table" id="vstg-varedit2-table-value">
        <thead>
            <tr>
                <td >
                    Value Name
                </td>
                <td >
                    is Key? 
                </td>
                <td >
                    Before/Begin
                </td>
                <td >
                    After/End
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
        
    </table>
</div>