<div id="vstg-vardelete-table" style="display: none;">
<table class="table" >
    <tbody>
        <tr>
            <td >
                Variable Name
            </td>
            <td colspan="5">
                <input type="text" class="form-control" id="vstg-vardelete-table-varname" readonly>
            </td>
        </tr>
        <tr>
            <td>
                Min Value
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-vardelete-table-minval" name="minValue" readonly>
            </td>
            <td>
                Max Value
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-vardelete-table-maxval" name="maxValue" readonly>
            </td>
            <td>
                E-Level
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-vardelete-table-elevel" name="eLevel" readonly>
            </td>
        </tr>
        <tr>
            <td>
                Soft Version
            </td>
            <td>
                <input type="text" class="form-control" id="vstg-vardelete-table-softver" name="softVersion" readonly>
            </td>
            <td>
                DD Version
            </td>
            <td colspan="3">
                <input type="text" class="form-control" id="vstg-vardelete-table-ddver"  name="ddVersion" readonly>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" id="vstg-vardelete-casetable">
    <thead>
        <tr class="success">
            <td>
                No.    
            </td>
            <td colspan="5">
                Description
            </td>
            <td colspan="1">
                Soft Version
            </td>
            <td colspan="1">
                Select
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-primary" id="vstg-vardelete-case-button">Delete</button>
    <button type="button" class="btn btn-primary" id="vstg-vardelete-all-button">Delete All</button>
</div>
</div>