.nav {
    width: 100%;  /* i'm assuming full width */
    height: 40px; /* change it to desired width */
    background-color: transparent; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 35px;
    margin-right: 20px;
    margin-top: 5px;    /* if you want it vertically middle of the navbar. */
}
.nav > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

.vstg-header {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;    /* if you want it vertically middle of the navbar. */
}
#vstg-button-group-component{
    margin-left: 0px;
    margin-top: 5px;    /* if you want it vertically middle of the navbar. */    
}
.centered {
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    display: flex;
    justify-content: center;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.btn_TTT {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn_TTT:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.btn_TTT:active {
	position:relative;
	top:1px;
}
.btn_TTT:disabled {
	background: #dddddd;
}

.MenuBtn_TTT {
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #a8a8a8;
  padding: 10px 80px 10px 80px;
  text-decoration: none;
}
.MenuBtn_TTT:hover {
  background: #727273;
  text-decoration: none;
}

<style type="text/css">
    dummydeclaration { padding-left: 4em; } /* Firefox ignores first declaration for some reason */
	tab0{ padding-left: 2em; }
    tab1 { padding-left: 4em; }
    tab2 { padding-left: 8em; }
    tab3 { padding-left: 12em; }
    tab4 { padding-left: 16em; }
    tab5 { padding-left: 20em; }
    tab6 { padding-left: 24em; }
    tab7 { padding-left: 28em; }
    tab8 { padding-left: 32em; }
    tab9 { padding-left: 36em; }
    tab10 { padding-left: 40em; }
    tab11 { padding-left: 44em; }
    tab12 { padding-left: 48em; }
    tab13 { padding-left: 52em; }
    tab14 { padding-left: 56em; }
    tab15 { padding-left: 60em; }
    tab16 { padding-left: 64em; }

</style>        

 