<form class="form-horizontal" role="form" id="test-form">
    <div class="form-group">
        <label for="UserID" class="col-sm-3 control-label">
            User ID
        </label>
        <div class="col-sm-8">
            <input class="form-control" name="form_text" type="text"/>
        </div>
    </div>
    <div class="form-group">
        <label for="UserID" class="col-sm-3 control-label">
            User ID
        </label>
        <div class="col-sm-8">
            <input class="form-control" name="form_number" type="number" />
        </div>
    </div>
    <div class="form-group">
        <label for="UserID" class="col-sm-3 control-label">
            User ID
        </label>
        <div class="col-sm-8">
            <input class="form-control" name="form_hidden" type="hidden" />
        </div>
    </div>
    <div class="form-group">
        <label for="UserID" class="col-sm-3 control-label">
            User ID
        </label>
        <div class="col-sm-8">
            <input class="form-control" name="form_pass" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label for="UserLevel" class="col-sm-3 control-label">
            User Level
        </label>
        <div class="col-sm-8">
            <select class="form-control">
                <option name="form_option1" >User</option>
                <option name="form_option2" >Administrator</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="5" name="form_textarea" id="text_required" required></textarea>
    </div>
</form>
